<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home_style.css">
</head>
<body>
    
    <% if(success && success.length) {%>
        <div class="mt-5 alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <% } %>
        
        <% if(error && error.length) {%>
        <div class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
        
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="background-color: black;">
        <div class="container-fluid flex-row" >
            <h3 class="navbar-brand">Never Miss With-Sp</h3>
            <div class="collapse navbar-collapse"  id="navbarNavDropdown">
              <ul class="navbar-nav"  >
                <li class="nav-item active"  >
                  <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
            </div>
      </nav>
      <!-- sign in -->
      <div id="signin-panel" class="overlay-panel m-0">
        <div id="authenticator" class="container">
            <div id="close-btn-holder">
                <h1 class="m-3" style="color: grey;">Sign In</h1>
                <ion-icon id="close-btn1" class="close-btn" name="close"></ion-icon>
            </div>
            
            <form action="/login" class='needs-validation m-3 mt-5 ' method="POST" novalidate>
                <div >
                    <label class="form-label mt-2" for="username"  style="color: grey;">Username  </label>
                    <input class="form-control" type="text" id="username" name="username" required>
                   
                </div>
            
                <div>
                    <label class="form-label mt-2" for="password" style="color: grey;">Password  </label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    
                </div>
                <button class="btn btn-success  mt-3 " type="submit"> Sign In </button>
            </form>
        </div>
    </div>
    <!-- Sign up -->
    <div id="signup-panel" class="overlay-panel m-0">
        <div id="authenticator" class="container">
            <div id="close-btn-holder">
                <h1 class="m-3 mb-1" style="color: grey;">Sign Up</h1>
                <ion-icon id="close-btn2" class="close-btn" name="close"></ion-icon>
            </div>
            <form action="/register" class='needs-validation m-3 mt-5' method="POST" novalidate>
                <div >
                    <label class="form-label mt-0" for="name"  style="color: grey;">Full Name  </label>
                    <input class="form-control" type="text" id="name" name="name" required>
                    
                </div>

                <div >
                    <label class="form-label mt-2" for="username"  style="color: grey;">Username  </label>
                    <input class="form-control" type="text" id="username" name="username" required>
                   
                </div>
            
                <div>
                    <label class="form-label mt-2" for="password" style="color: grey;">Password  </label>
                    <input class="form-control " type="password" id="password" name="password" required>
                   
                </div>
                <button class="btn btn-success  mt-3 " type="submit"> Register </button>
            </form>
        </div>
    </div>
    

     <div  class="wrapper">
          <!-- sidebar -->
        <div id="sidebar" >
            <div id="toggler">
                <a class="navicons tohide" href="/home"><ion-icon  name="home"></ion-icon></a>
                <a class="navicons tohide" href="/contact"><ion-icon  name="person"></ion-icon></a>
                <ion-icon id="toggleicon" name="grid"></ion-icon>
            </div>
            <div id="shrinker">
                <div id="sorting-panel" class="container-fluid">
                    <div class="inpgrp input-group">
                        <span class="input-group-text">Find After Date</span>
                        <input type="date" aria-label="Input Date" class="form-control ">
                        <button class="btn btn-secondary" type="button" id="button-addon2">Search</button> 
                    </div>
                    <div class="inpgrp input-group">
                        <span class="input-group-text">Find by tags</span>
                        <select class="form-select form-select-lg" aria-label=".form-select-lg example">
                            <option selected>Open this select menu</option>
                            <% for(let op of eventTags) { %> 
                                <option value=""><%=op%> </option>
                                <% } %> 
                        </select>
                        <button class="btn btn-secondary" type="button" id="button-addon2">Search</button> 

                    </div>
                </div>
                <div id="user-btns" class="p-0 container-fluid">
                    <h5 id="popup-si" class="userbtn container-fluid">Sign In</h5>
                    <h5 id="popup-su" class="userbtn container-fluid">Sign Up</h5>    
                </div>
            </div>
        </div>
        <!-- content -->
        <div id="content" >
            <div id="holder" class="container">
                <% for(let e of Events){ %> 
                <% if(e.allowed){ %> 
                <a href="/home/<%=e.id%> ">
                    <div class="cards" >
                        <div class="overlay">
                            <% if(e.title.length >20){ %> 
                            <h3 class="title"><%=e.title.substring(0,25)%>.. </h3>
                            <% }else{ %> 
                            <h3 class="title"><%=e.title%></h3>

                            <% } %> 
                            <h5 class="end-date">Ends on :<%=e.end_date %> </h5>

                            <% for(let tags of e.tag) { %> 
                            <h5 class="ml-2 tags"><%=tags %> </h5>
                            <% } %> 
                        </div>
                        <img class="card-img" src="<%=e.posterUrl %> " alt="">
                    </div>
                </a>
                <% }} %> 
           
    </div>  
      </div>
     
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script>(function () {
        'use strict'
      
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
      
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
              form.classList.add('was-validated')
            }, false)
          })
      })()</script>
    <script src="/js/home_style.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-popRpmFF9JQgExhfw5tZT4I9/CI5e2QcuUZPOVXb1m7qUmeR2b50u+YFEYe1wgzy" crossorigin="anonymous"></script>

</body>
</html>
